* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body {
    position: fixed;
    top: 214px;
    left: 0;
} */

/*********************************
HEADER IMG & LOGO - Start
*********************************/
.img-responsive {
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
}
.match {
    margin-bottom: 10px;
}
.logo {
    position: relative;
    /* margin-top: -15%;
    left: -25%; */
    /* position: absolute;
    top: 29%;
    left: 40%; */
    /* z-index: 2; */
    height: 60px;
    background: #fff;
    border: 1px solid #29c19c;
    border-radius: 50%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
.logo-img{
    margin-top: -40px;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*********************************
HEADER IMG & LOGO - End
*********************************/



/*********************************
FACEBOOK LOGIN - Start
*********************************/
.btn-block {
    width: 80%;
    left: 10%;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 15px;
    padding-left: 10%;
}
/*********************************
FACEBOOK LOGIN - End
*********************************/



/*********************************
LOGIN / REGISTER FORM - Start
*********************************/
.panel-login>.panel-heading {
    display: flex;
    flex-direction: column;
    color: #29c19c;
    background-color: #f0f0f0;
    text-align: center;
}
.panel-login>.panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: 800;
    font-size: 20px;
}
.panel-login>.panel-heading a.active {
    color: #29c19c;
    font-size: 20px;
}
.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 35px;
    width: 80%;
    margin-left: 10%;
    border: 1px solid #f0f0f0;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #f0f0f0;
}
.btn-login {
    width: 50%;
    margin-left: 25%;
    background-color: #29c19c;
    outline: none;
    color: #fff;
    font-size: 15px;
    height: auto;
    font-weight: normal;
    padding: 8px 0;
    border-color: #29c19c;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #18ac87;
    border-color: #29c19c;
}
.forgot-password {
    text-decoration: none;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: none;
    color: #666;
}
.btn-register {
    width: 50%;
    margin-left: 25%;
    background-color: #29c19c;
    /* outline: none; */
    color: #fff;
    font-size: 15px;
    height: auto;
    font-weight: normal;
    padding: 8px 0;
    border-color: #29c19c;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #18ac87;
    border-color: #29c19c;
}
/*********************************
LOGIN / REGISTER FORM - End
*********************************/