h1{
    color: blue;
}
.mike{
    font-size: 100px;
}

*{
    margin:0;
    padding: 0;
}


/*******************************************************************************************************************************************************
                                                                        MAIN-CONTAINER
 ******************************************************************************************************************************************************** */


 .main-container{
     margin-top: 50px;
     width: 90vw;
     height: 90vh;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid red;
 }


 /*******************************************************************************************************************************************************
                                                                        AVATAR
 ******************************************************************************************************************************************************** */


 #avatar{
     margin-top: 5vh;
     height: 25vh;
     width:49vw;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     justify-content: center;
     align-items: center;
 }


 #avatar img{
     max-width: 300px;
     min-width: 100px;;
     width: 49vw;
     border-radius: 50%;
 }

 /*******************************************************************************************************************************************************
                                                                        PSEUDO
 ******************************************************************************************************************************************************** */

 #pseudo{
     margin-left: auto;
     margin-right: auto;
     width: 70vw;
     height: 15vh;
     line-height: 8vh;
     text-align: center;
     font-family: 'Roboto', sans-serif;
 }


 /*******************************************************************************************************************************************************
                                                                        FAVORIT
 ******************************************************************************************************************************************************** */

 #favorit{
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    height: 25vh;
    border: 1px solid red;
 }
